.article-wrapper {
  color: black;
  width: 80vw;
  display: flex;
  align-items: center;
  margin-top: 30px;
  overflow-x: hidden;
  border: 2px solid black;
  cursor: pointer;
  border-radius: 12px;
}

.article-wrapper:hover {
  transform: scale(1.03);
  box-shadow: 10px 5px 5px grey;
}

.article-title,
.article-section,
.article-published {
  margin: 3px;
}

.article-image {
  width: 108px;
}

.info-wrapper {
  margin-left: 10px;
}

.link-to-details {
  text-decoration: none;
}

@media only screen and (max-width: 800px) {
  .article-wrapper {
    height: 25vh;
  }
}

@media only screen and (max-width: 600px) {
  .article-title,
  .article-section,
  .article-published {
    margin: 3px;
    font-size: 16px;
  }

  .article-image {
    width: 80px;
    height: 80px;
  }
}