.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #780116;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.site-title {
  margin: 10px 0px 0px 10px;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 52px;
  color: #FFFFFF;
}

.greeting {
  margin: 15px 0px 5px 10px;
  font-family: 'Poppins';
  font-size: 18px;
  color: #FFFFFF;
}

.home-link {
  text-decoration: none;
}
