.footer-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
	margin-top: 30px;
	border-top: .5px solid black;
  color: white;
  background-color: #780116;
}

.contributor,
.name {
  margin: 4px;
  font-size: 10px;
  font-weight: bold;
}

.creds {
  color: white;
  margin: 0;
	text-decoration: none;
  text-align: center;
  font-size: 10px;
}