.footer-container {
  text-align: center;
	margin-top: 30px;
	border-top: .5px solid black;
  letter-spacing: .1rem;
  height: 100%;
	padding: 0px;
  color: white;
  background-color: #780116;
}

.contributor,
.name {
  margin: 4px;
  font-size: 10px;
  font-weight: bold;
}

.creds {
  color: white;
  margin: 0;
	text-decoration: none;
  text-align: center;
  font-size: 10px;
}
