.details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-container {
  margin: 1em;
}

.byline,
.published {
  font-size: 16px;
  margin: 0;
}

.large-image-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 600px;
}

.large-image {
  width: fit-content;
}

.bottom-container {
  width: 600px;
}

.back-button-container {
  display: flex;
  align-items: center;
  width: 80vw;
}

.back-link {
  text-decoration: none;
}

@media only screen and (max-width: 700px) {
  .large-image {
    width: 80%;
  }
}